/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: bold;
}

em {
   font-style: italic;
}

.center {
    text-align: center;
}

small {
    font-size: 0.8em;
    color: grey;
}

/*
*/
body {
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

h3 {
    font-size: 1.8em;
}

/* step */
.step {
    position: relative;
    width: 980px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    line-height: 1.5;
}

/*
... and we enhance the styles for impress.js.
Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.2;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.col1 {
    float: left;
}

.capital {
    font-weight: bold;
    text-transform: uppercase;
}

.small {
    width: 800px;
}

code {
    font-size: 24px;
    line-height: 1.5;
}

#we-are-dev {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -10px;
}

#we-are-manager {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

#situation {
    opacity: 0;
}

#situation.present {
    opacity: 1;
}

.impress-on-me #we-use,
.impress-on-we-are-dev #we-use,
.impress-on-we-are-manager #we-use,
.impress-on-situation #we-use {
    opacity: 0;
}

#we-use {
    font-size: 200px;
    font-weight: bold;
    text-align: center;
}

.impress-on-we-use #situation{
    opacity: 0.3;
}

#content {
    width: 1400px;
    font-size: 16px;
    opacity: 0;
}

.impress-on-content .step {
    opacity: 0;
}
.impress-on-content #content.step {
    opacity: 1;
}
.impress-on-content #we-use.step {
    opacity: 0.3;
}

.impress-on-we-use #the-question,
.impress-on-we-use #we-are,
.impress-on-we-use #we-do,
.impress-on-we-use #we-have {
    opacity: 0;
}

#accepted {
    text-align: center;
}

#question {
}

.impress-on-question #the-question {
    opacity: 0;
}

#the-question.active {
    opacity: 1;
}

#the-question .col1 {
    width: 800px;
}

#the-question .col2 {
    margin-left: 820px;
}
#how-to {
    font-size: 185px;
    line-height: 149px;
    padding-left: 3px;
}
#how-to-search {
    font-size: 200px;
    line-height: 150px;
    padding-left: 8px;
}
#how-to-search-easily {
    font-size: 226px;
    line-height: 166px;
}
#how-to-search-easily span {
    font-size: 50px;
    line-height: 30px;
}
#how-to-search-efficiently {
    font-size: 124px;
    line-height: 100px;
    padding-left: 8px;
}

#how-to-question {
    font-size: 510px;
    line-height: 520px;
    font-weight: normal;
}

#why {
    font-size: 300px;
    font-weight: bold;
    text-align: center;
}

#solr {
    text-align: center;
}

#features {
    line-height: 95px;
}

#features .search {
    font-size: 90px;
}

#features .volum {
    font-size: 50px;
}

#features .standard {
    font-size: 100px;
}

#features .admin {
    font-size: 150px;
    letter-spacing: 7px;
}

#features .scalable {
    font-size: 166px;
}

#features .replication {
    font-size: 73px;
}

#features .flexible {
    font-size: 115px;
    letter-spacing: -10px;
}

#features .adaptable {
    font-size: 111px;
    font-weight: bold;
}

#features .extensible {
    font-size: 120px;
    letter-spacing: 46px;
}

#detailed-features {
    font-size: 32px;
}


#detailed-features ul {
    list-style: inherit;
}

#detailed-features ul li{
    margin-left: 32px;
}

#lot-of-features {
    font-size: 90px;
    text-align: center;
}

#install {
    font-family: 'Monaco', monospace;
    font-size: 28px;
}

#solarium {
    text-align: center;
}

#solarium h1 {
    font-size: 200px;
    line-height: 300px;
    font-weight: bold;
}

#big-picture {
    text-align: center;
}

.impress-on-big-picture #we-use.step,
.impress-on-big-picture #the-question.step,
.impress-on-big-picture #solr.step,
.impress-on-big-picture #solarium.step
{
        opacity: 1;
}

#indexing {
    font-size: 150px;
    text-align: center;
}

#one-index {
    font-size: 142px;
}

#one-schema {
    font-size: 119px;
}

#n-fields {
    font-size: 181px;
}

#analyser, #query-analyser {
    margin-top: -500px;
    margin-left: 200px;
    line-height: 24px;
}

.impress-on-analyser #field-type {
    opacity: 1;
}

#query-analyser {
    margin-top: -400px;
}

.impress-on-query-analyser #analyser {
    opacity: 1;
}

#search {
    font-size: 160px;
    text-align: center;
}

#select-results {
    width: 400px;
}

#scoring {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
}

#scoring div {
    text-align: right;
    font-size: 80px;
    margin-bottom: 80px;
}

.impress-on-scoring #boost,
.impress-on-scoring #add-title,
.impress-on-scoring #query-boost {
    opacity: 0;
}

#boost {
    font-size: 140px;
    font-weight: bold;
}

.impress-on-boost #add-title,
.impress-on-boost #query-boost {
    opacity: 0;
}

.impress-on-add-title #query-boost {
    opacity: 0;
}

#query-boost {
    padding-top: 300px;
}

#filter {
    font-size: 170px;
}

.impress-on-filter #bad-filter .wrong,
.impress-on-bad-filter #bad-filter .wrong {
    opacity: 0;
}

#bad-filter .wrong {
    float: right;
    line-height: 35px;
    margin-right: 150px;
    font-size: 70px;
    font-weight: bold;
    color: #f33;
}

#filter-hint {
    font-size: 96px;
}

#faceting div {
    float: left;
    font-size: 120px;
    margin-top: 420px;
    width: 180px;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
}

.impress-on-faceting-query #faceting {
    opacity: 0.5;
}

#highlight-hint {
    font-size: 100px;
}

#highlight div {
    float: right;
    font-size: 110px;
    margin-top: 410px;
    width: 180px;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
}

#misplelign {
    font-size: 70px;
}

#spellchecker {
    font-size: 90px;
}

#spellchecker-config {
    padding-left: 100px;
    padding-bottom: 400px;
}

#spellchecker-code {
    padding-top: 250px;
    padding-left: 100px;
}

#uber-feature-again {
    font-size: 80px;
}

#autosuggest {
}

.impress-on-EdgeNGramFilterFactory #jquery,
.impress-on-EdgeNGramFilterFactory-result #jquery,
.impress-on-EdgeNGramFilterFactory #EdgeNGramFilterFactory-result {
    opacity: 0;
}

#EdgeNGramFilterFactory-result {
    padding-left: 750px;
}

#jquery {
    padding-top: 550px;
}

#translation {
    font-size: 60px;
}

#multicore {
    font-size: 130px;
    text-shadow: 20px 20px 20px #999;
}

.impress-on-multicore #multi-index,
.impress-on-multicore #multi-config {
    opacity: 0;
}

#core-tree {
    padding-left: 560px;
}

#cores-tree {
    padding-left: 750px;
}

#handle-core {
    padding-top: 550px;
}

#multi-core-features {
    padding-top: 500px;
}

.impress-on-core-api #multi-core-features {
    opacity: 0;
}

#multi-core-features {
    line-height: 0.9em;
}

.impress-on-use-the-dic #services {
    opacity: 0;
}

#overview {
    display:none;
}

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}
